.division {
    margin: 2%;
    border: #E7E7E7 1px solid;
    background-color: white;
}
.division-body, .division-header{
    display: flex;
    border: #E7E7E7 1px solid;
}

.division-body {
    overflow-x: scroll;
    padding-right: 2em;
}

.division-header{
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}

.details-button {
    border-color: #E7E7E7;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    height: 2rem;
    border-radius: 17px;
}

.toggle-button {
    border-color: #E7E7E7;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    height: 2rem;
    border-radius: 5px;
}

.toggle-button.active {    
    border: 2px solid green;
}

.flex {
    display: flex;
    align-items: center;
    width:80%;
    justify-content: flex-end;
}

.flex .button-group {
    margin: 0 5%;
}