.container-instruction {
    /* height: 100%; */
    /* width: 100%; */
    /* display: block; */
}

.container-instruction .header {
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;
    margin: 0 10em;
    justify-content: center;
}

.container-instruction .instructions {
    margin: 2em 10em;
    font-size: 2rem;
    border: 2px black solid;
    border-radius: 10px;
}

.container-instruction .instructions ul{
    padding-left: 2em;
}

.container-instruction .instructions .header {
    font-size: 2rem;
    margin: 0;
    border-bottom: 2px black solid;
}

.container-instruction .instructions .controls-div {
    text-align: center;
}

.container-instruction .instructions .controls-div .controls {
    margin: 2rem;
    display: inline-block;
}

.container-instruction .instructions .controls-div .load-btn {
    margin-top: 4rem;
    background-color: transparent;
    width: 10rem;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.container-instruction .instructions .controls input {
    display:block;
    border-radius: 10px;
    height: 30px;
    outline: none;
    width: 70rem;
    font-size: 1rem;
    padding-left: 6px;
}

.container-instruction .instructions .controls label {
    display: block;
    text-align:left;
    font-size: 0.8em;
}

.link-list {
    overflow: scroll;
    list-style-type: none;
}