.container-instruction {
    overflow: auto;
    width: 100%;
}

.container-instruction .header {
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;
    margin: 0 10em;
    justify-content: center;
    color: #FFF;
}

.container-instruction .header-sub {
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;
    padding: 0 10em;
    justify-content: center;
    border-bottom: #E7E7E7 1px solid;
}

.container-instruction .instructions {
    margin: 2em 10em;
    font-size: 2rem;
    border: #E7E7E7 1px solid;
    background-color: #FFF;
    border-radius: 10px;
}

.container-instruction .instructions ul{
    overflow: auto;
    padding-left: 2em;
}

.container-instruction .instructions .header {
    font-size: 2rem;
    margin: 0;
    border-bottom: #E7E7E7 1px solid;
    color: #000;
}

.container-instruction .instructions .controls-div {
    text-align: center;
}

.container-instruction .instructions .controls-div .controls {
    margin: 2rem;
    display: inline-block;
    width: 92%;
}

.container-instruction .instructions .controls-div .controls input{
    width: 100%;
}

.container-instruction .instructions .controls-div .load-btn {
    margin-top: 4rem;
    background-color: transparent;
    width: 10rem;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.container-instruction .instructions .controls input {
    display:block;
    border-radius: 10px;
    height: 30px;
    outline: none;
    width: 70rem;
    font-size: 1rem;
    padding-left: 6px;
}

.container-instruction .instructions .controls label {
    display: block;
    text-align:left;
    font-size: 0.8em;
}

.link-list {
    list-style-type: none;
}

.url {
    display: flex;
    align-items: center;
}

.link-list .url .select {
    margin: 0 2%;
    cursor: pointer;
}

.link-list .url li a {
    margin: 0 2%;
    text-decoration: none;
    color: #3391ff;
}

.load-data{
    display: flex;
    justify-content: flex-end;
    margin: 1%;
}

.load-data .load-btn {
    background-color: transparent;
    width: 10rem;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}